{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      jsx: true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn", 
    "semi": [2, "never"],
    "react/prop-types": "off",
    "react/display-name": "off"
  },
  "plugins": [
    "react"
  ]
}
