.home--wrapper{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.logo {
  filter: invert(100%);
}

.footer-background {
  --radius: 30vh;
  --diam: calc(var(--radius) * 2);
  background-color: white;
  position: absolute;
	height: var(--diam);
	width: var(--diam);
	border-radius: var(--diam);
  transition: transform 1s linear;

  /*
    Center circle to top left coordinate
    transforms will then be taken from the
    distance to the top left coord
  */
  top: calc(0vh - var(--radius));
	left: calc(0vh - var(--radius));
}

.footer-background.init-position {
  /*
    Distances to top left zero coord
  */
  --center-x: 50vw;
  --center-y: 120vh;
  transform: translateY(var(--center-y))translateX(var(--center-x));
}