.intro--wrapper{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 1s linear;
}

.intro--wrapper.transparent {
    opacity: 0;
    pointer-events: none;
}

.logo {
  filter: invert(100%);
  transition: opacity 2s linear;
  opacity: 1;
  height: 5rem;
}

.logo.transparent {
    opacity: 0;
}