.sidebar--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    display: flex;
    flex: 1;
    width: 10rem;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
    align-items: center;
}

.links--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link {
    display: flex;
    height: 3.5rem;
    width: 100%;
    justify-content: center;
	align-items: center;
    text-transform: uppercase;
}

.link:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}