.sidebar--wrapper {
    --sidebar-width: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    display: flex;
    flex: 1;
    width: var(--sidebar-width);
	border-right: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 10rem;
}

.links--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link {
    display: flex;
    height: 3.5rem;
    width: 100%;
    justify-content: center;
	align-items: center;
    text-transform: uppercase;
}

.link:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar--wrapper .logo {
    height: 10rem;
    position: absolute;
    top: calc(var(--sidebar-width) / 2);
    left: calc(var(--sidebar-width) / 2);
}

/*
Link drawer
*/
.link-drawer--wrapper.opened {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.link-drawer--wrapper .header {
    height: 3.5rem;
    display: flex;
    height: 3.5rem;
    width: 100%;
    justify-content: center;
	align-items: center;
    text-transform: uppercase;
}

.link-drawer--wrapper .header:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.link-drawer--wrapper .links--wrapper {
    overflow-y: hidden;
    transition: height 0.2s linear;
    height: 0rem;
}

.link-drawer--wrapper .links--wrapper.opened{
    height: 3.5rem;
}

.link-drawer--wrapper .links--wrapper .link {
    height: 1.5rem;
    min-height: 1.5rem;
    font-size: 0.8rem;
    text-transform: capitalize;
}