table {
    font-family: TTNorms-light;
    border-collapse: separate!important;
}

ul {
    list-style-type: none;
}

li.foobar {
    position: relative;
    display: flex;
    flex-direction: column;
}

li > ul > li.foobar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: calc(50px);
}

li > ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li.foobar::before {
    background-color: white;
    content: '';
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    border-radius: 50%;
    left: calc(-0.5 * 60px - 0.8rem);
    transform: scale(0.5);
}

li > ul > li.foobar::before {
    background-color: white;
    content: '';
    height: 0.2rem;
    width: 0.7rem;
    position: absolute;
    transform: scale(1);
    border-radius: 0;
    margin-top: 0.7rem;
    box-sizing: border-box;
}









/* https://jsfiddle.net/zinoui/3LfE2/ */
.zui-table {
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    padding: 10px;
    text-align: left;
}
.zui-table tbody td {
    border: solid 1px red;
    padding: 10px;
}
.zui-table-rounded {
    border: none;
}
.zui-table-rounded thead th {
    background-color: rgba(0, 0.3, 0.3, 0.1);
    border: none;
}
.zui-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.zui-table-rounded tbody td {
    border: none;
    border-top: solid 1px #957030;
}
.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
