:root {
    --unit-height: 4.167vh;
}

.sidebar--wrapper {
    --sidebar-width: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    display: flex;
    flex: 1;
    width: var(--sidebar-width);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 10rem;
}

.sidebar--wrapper .logo {
    height: 10rem;
    position: absolute;
    top: calc(var(--sidebar-width) / 2);
    left: calc(var(--sidebar-width) / 2);
}

/* Sections */
.sidebar--wrapper .sections--wrapper {
    display: flex;
    flex-direction: column;
}

.sidebar--wrapper .sections--wrapper .section--wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: var(--unit-height);
    transition: height 0.2s linear;
}

.sidebar--wrapper .sections--wrapper .section--wrapper.opened{
    height: calc(4 * var(--unit-height));
    overflow: visible;
}

.section--title {
    min-height: var(--unit-height);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Sub sections */
.section--wrapper .sub-sections--wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section--wrapper .sub-section--wrapper {
    display: flex;
    flex-direction: column;
    min-height: var(--unit-height);
    overflow-y: hidden;
    transition: height 0.2s linear;
    overflow: visible;
}

.section--wrapper .sub-section--wrapper.opened {
    height: var(--unit-height);
}

.sub-section--title, .sub-section--link {
    min-height: var(--unit-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sub sub sections */
.sub-sub-sections--wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    right: -100%;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;
}

.sub-section--wrapper.opened .sub-sub-sections--wrapper {
    opacity: 1;
    pointer-events: inherit;
}

.sub-sub-section--link {
    height: var(--unit-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
