#app--wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.router--wrapper {
}

.router--wrapper.transparent {
    opacity: 0;
}



.transform-on-hover {
    transition: transform 0.1s, background-color 0.1s linear;
}

.transform-on-hover:hover {
    transform: scale(1.2);
}

html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    position: absolute;
}
