@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#app--wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.router--wrapper {
}

.router--wrapper.transparent {
    opacity: 0;
}



.transform-on-hover {
    transition: transform 0.1s, background-color 0.1s linear;
}

.transform-on-hover:hover {
    transform: scale(1.2);
}

html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    position: absolute;
}

.blog-link--wrapper:hover {
    background-color: rgba(255, 255, 255, 0.3)!important;
}

@media (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}
