#app--wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.router--wrapper {
    opacity: 1;
    transition: opacity 1s linear;
    display: flex;
    flex: 1;
    margin-left: 10rem; /* same as sidebar width */
}

.router--wrapper.transparent {
    opacity: 0;
}