body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex: 1;
  color: white;
  font-family: TTNorms-regular;
  background-image: url("components/img/background.jpg")
}

#root {
  display: flex;
  flex: 1
}

/*
  Fonts
*/
@font-face {
    font-family: TTNorms-regular;
    src: url("./fonts/TT_Norms/TTNorms-Regular.otf") format("opentype");
}