body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex: 1;
  color: white;
  font-family: TTNorms-regular;
  overflow: hidden;
}

#root {
  display: flex;
  flex: 1
}

/*
  Fonts
*/
@font-face {
    font-family: TTNorms-regular;
    src: url("./fonts/TT_Norms/TTNorms-Regular.otf") format("opentype");
}

@font-face {
    font-family: TTNorms-medium;
    src: url("./fonts/TT_Norms/TTNorms-Medium.otf") format("opentype");
}

@font-face {
    font-family: caslon;
    src: url("./fonts/Caslon/Caslon.ttf");
}
